@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}
body{
  font-family: Open sans ;
}
body::-webkit-scrollbar {
  display: none;
}
#feature::-webkit-scrollbar {
    display: none;
  }